body {
    background: url("../images/background6.jpg");
	display: flex;
    /*min-height: 100vh;*/
    flex-direction: column;
    width: 100%;
}

.brand-logo {
    font-family: 'Fredoka One', cursive;
}

main {
    flex: 1 0 auto;
}

li {
    margin-top:5px;
}

.container {
	width: 100%;
}

.nav-wrapper {
	padding-top: 0px;
    background-color: #e3f2fd;
    border: 1px solid;
    border-color: #ffffff;
    width: 100%;
}

.page-footer {
    background-color: #e3f2fd;
    padding-top: 0px;
    border: 1px solid;
    border-color: #ffffff;
    width: 100%;
    /*position: absolute;
    bottom: 0;
    left:0;*/
    /*background-color: #e3f2fd;
    border: 1px solid;
    border-color: #ffffff;
    width: 100%;*/
}

.image {
    width: 620px;
    height: 349px;
}

.row {
    border: 0px;
    margin: 0px;
}

#placeholder {
    color:grey;
}

.google-login {
    height: 50px;
    width: 200px;
}

.result-item,.breakfast-item,.lunch-item,.dinner-item {
    text-align:center;
}

.result-item_name {
    font-weight:bold;
    font-size:20px;
    margin-top:10px;
}

.breakfast-item_name,.lunch-item_name,.dinner-item_name {
    font-weight:bold;
    font-size:20px;
    margin-bottom:5px;
}

.label {
    text-decoration:underline;
    font-weight:bold;
    font-size:16px;
}

.result-item_name, .result-item_ingredients,.breakfast-item_name,.lunch-item_name,.dinner-item_name,.breakfast-item_ingredients,.lunch-item_ingredients,.dinner-item_ingredients {
    text-align:center;
}

.searches:hover, #clear:hover {
    color: black;
    text-decoration: underline;
}

.login-btn {
    color:white;
}